/** Hide elements **/
#nav {display: none;}

#loading {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
}

#loading img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
}

#FederalElections {
	position: static;
	width: 100%;
}
#main {
	display: block;
	width:100%;
}

#content {
	left: 0;
	right: 0;
	width:100%;
	height: auto;
	border-bottom: 1px solid #d6d6d6;
}

#contentHolder {
	margin-top: 0 !important;
}

.panel {
	position: static;
	display: none;
	width: 100%;
	height: auto;
}

.panel.current-tab {
	display: block;
}

.leftCol {
	float: none;
	width: 100%;
	height: auto;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#panel-overview {
	height: auto;
	padding: 0;
}

.search-active #panel-overview {
	height: 450px;
}

#panel-overview .intro {
	height: 224px;
	background:#d0e0e6 url(../img/sprite-mobile.png) no-repeat 0 0 !important;
	background-size: 640px auto !important;
}

#panel-overview .leftCol {
	width: 100%;
	height: auto;
	padding: 0 0 20px 9px;
	border-bottom: 1px solid #d6d6d6;
	-webkit-box-shadow: none;
	-moz-box-shadow: none
	box-shadow: none;
}

#panel-overview .leftCol h2 {
	float: none;
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	font-size: 27px;
	text-align: center;
	text-indent: -9999em;
	background: url(../img/sprite-mobile.png) no-repeat 0 -447px; !important;
	background-size: 640px auto !important;
}

#panel-overview .leftCol .nav {
	display: none;
}

#panel-overview .leftCol .seats {
	width: 100%;
	height: auto;
}

#panel-overview .leftCol .seats .seatsHolder {
	height: 180px;
}

#panel-overview .leftCol .seats .seat {
	position: relative;
	width: 220px;
	height: 180px;
	margin: 0 9px;
}

#panel-overview .leftCol .seats .seat h3 {
	position: absolute;
	bottom: 0;
	float: none;
	width: 100%;
	margin: 0;
	font-size: 21px;
	text-align: center;
	line-height: 42px;
	color: #fff;
	border: none;
	background-color: rgba(55,90,110,0.8);
}

#panel-overview .leftCol .seats .seat img {
	border-radius: 0;
}

#panel-overview .leftCol .seats .seat .description p {
	display: none;
}

#panel-overview .leftCol .seats .seat .description .pageBtn {
	position: absolute;
	top: -10px;
	left: 0;
	width: 238px;
	height: 165px;
	margin: 10px 0 0 0;
	text-indent: -9999em;
	background: transparent none !important;
}

#panel-overview .rightCol {
	float: none;
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

#panel-overview .rightCol .swing {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background: #ffffff url(../img/sprite-mobile.png) no-repeat left -226px !important;
	background-size: 640px auto !important;
}

#panel-overview .rightCol .swing h2 {
	display: none;
}

#panel-overview .rightCol .swing p {
	width: 155px;
	padding: 54px 0 5px 20px;
}

#panel-overview .rightCol .swing .pageBtn {
	width: auto;
	padding: 10px 0;
	margin: 0 17px;
	border-radius: 3px;
	background: #4f7e9a none !important;
}

#panel-overview .rightCol .polling {
	display: none;
}


/** Search **/
#panel-overview .main-search {
	top: 91px;
	left: 13px;
	right: 13px;
	width: auto;
	min-height: 35px;
	border-width:2px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#panel-overview .main-search input {
	width:93%;
	height: 35px;
	padding: 0 7px;
	font-size:13px;
	line-height: 35px;
}

#panel-overview .main-search .search-icon {
	top: 10px;
	width: 15px;
	height: 16px;
	background-position: -801px -832px;
	background-size: 820px auto;
}

#panel-overview .main-search .ac_results ul {
	max-height: 355px !important;
}

.search-active #panel-overview .intro {
	height:65px;
	border-bottom: 1px solid #92a8b9;
	background: #d3dfe5 none !important;
}

.search-active #panel-overview .intro .main-search {
	top: 13px;
	box-shadow: none !important;
}

.search-active #panel-overview .main-search .search-icon {
	top: 6px;
	right: 6px;
	width: 22px;
	height: 22px;
	background: #ffffff url(../img/sprite-mobile.png) no-repeat right top !important;
	background-size: 640px auto !important;
	cursor: pointer;
}

.search-active #panel-overview .main-search .ac_results {
	position: absolute;
	top: 51px !important;
	left: -14px !important;
	right: -15px !important;
	display: block !important;
	width: auto !important;
}

.search-active #panel-overview .main-search .ac_results li {
	position: relative;
	padding: 8px 17px;
	font-size: 15px;
}

.search-active #panel-overview .main-search .ac_results li:after {
	content: ' ';
	position: absolute;
	top: 50%;
	right: 10px;
	width: 9px;
	height: 14px;
	margin-top: -7px;
	background: url(../img/sprite-mobile.png) no-repeat right -36px !important;
	background-size: 640px auto !important;
}

.search-active #panel-overview .main-search .ac_results .search-result {
	float: left;
	line-height: 30px;
	width: 270px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search-active #panel-overview .main-search .ac_results .search-result-type {
	float: left;
	clear: left;
	line-height: 12px
}

.search-active #panel-overview .rightCol,
.search-active #panel-overview .leftCol {
	display:none;
}

/* Twitter **/
#panel-overview .intro .twitter-follow-button {
	top: 170px;
	left:95px;
}

.search-active #panel-overview .intro .twitter-follow-button {
	display: none;
}



/** Electorates Panels **/
#panel-electorates .panelHeader {
	display: none;
}

#panel-electorates .electorate h3.back {
	display: none;
}

#panel-electorates .electorate h5.keyseat {
	width: 108px;
	border: none;
	background: url(../img/sprite-mobile.png) no-repeat right -133px !important;
	background-size: 640px auto !important;
}

#panel-electorates .electorate h5.viewRegion {
	display: none;
}

#panel-electorates .electorate h4 {
	/*margin-top: 169px;*/
}

#panel-electorates .rightCol {
	width: 100%;
	height: auto;
}

#panel-electorates .keyseats {
	display: none;
}

#panel-electorates .jspVerticalBar {
	display: none;
}

#panel-electorates .rightCol .seat-scroll {
	height: auto;
}

#panel-electorates .rightCol .seat-scroll .jspPane {
	position: static !important;
	width: 100% !important;
	margin: 0 !important;

}

#panel-electorates .rightCol .info {
	width: 100%;
}

#panel-electorates .rightCol .infoHolder {
	width: 100%;
	height: auto;
	margin-left: 0 !important;
}

#panel-electorates .rightCol .results {
	display: none;
}

#panel-electorates .rightCol .electorate {
	width: 100%;
}

#panel-electorates .electorate .graph .graphCol {
	width:35px;
}


/** Swing Panel **/
#panel-swing .leftCol {
	display: none;
}

#panel-swing .panelHeader {
	width: 284px;
	height: 60px;
	background: url(../img/sprite-mobile.png) no-repeat 0 -350px !important;
	background-size: 640px auto !important;
}

#panel-swing .panelHeader .intro {
	display: none;
}

#panel-swing .panelHeader ul {
	display: none;
}

.mobileHeader {
	display: block;
	border-top: 1px solid #edede9;
	border-bottom: 1px solid #edede9;
	background-color: #f4f2ef;
}

.mobileHeader a {
	text-decoration: none;
	font-size: 11px;
	color: #4f7e99;
	line-height: 45px;
}

.mobileHeader .back-to-overview:before {
	content: ' ';
	float: left;
	width: 20px;
	height: 19px;
	margin: 12px 6px 0 13px;
	background: url(../img/sprite-mobile.png) no-repeat right -74px !important;
	background-size: 640px auto !important;
}

.mobileHeader .search-again {
	float: right;
	line-height: 30px;
	margin-top: 8px;
	padding-left: 13px;
	border-left: 1px solid #e1e1da;
}

.mobileHeader .search-again:after {
	content: ' ';
	float: right;
	width: 19px;
	height: 19px;
	margin: 4px 13px 0 6px;
	background: url(../img/sprite-mobile.png) no-repeat right -105px !important;
	background-size: 640px auto !important;
}

#map {
	display: none;
	position: relative;
	top: auto !important;
	left: 0;
	width: 100%;
	height: 165px;
	margin: 10px 0;
}


@media only screen and (orientation : landscape) {
	#panel-overview .intro {
		background-position: 78px 0 !important;
	}

	#panel-overview .intro .twitter-follow-button {
		left: 170px;
	}

	#panel-overview .leftCol h2 {
		background-position: 73px -447px;
	}

	#panel-electorates .electorate .demographics .demoBox {
		height: 85px;
	}
}









